body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  button, input[type="button"], input[type="submit"], input[type="reset"], .btn {
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
  }
  /* App.css */
.app-container {
    text-align: center;
  }
  
  .app-header {
    margin: 20px 0;
  }
  
  .search-author {
    margin: 20px 0;
  }
  
  table {
    margin: 20px auto;
    width: 80%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  